<!DOCTYPE html>
<html>
<head>
    <title>Blackbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/folders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overlays.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-theme.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

</head>

<body class="{{ session.get('theme', 'light') }}">

<div class="app-layout">

    <!-- LEFT SIDEBAR -->
    <aside class="left-sidebar">
        
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Blackbox" class="sidebar-logo">

        <nav class="side-nav">
            <a href="/" class="{% if current_page == 'home' %}active{% endif %}">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
            <a href="/my-drive" class="{% if current_page == 'my-drive' %}active{% endif %}">
                <i class="fa-solid fa-user"></i>
                My Drive
            </a>
            <a href="/shared" class="{% if current_page == 'shared' %}active{% endif %}">
                <i class="fa-solid fa-users"></i>
                Shared
            </a>
            <a href="/bin" class="{% if current_page == 'bin' %}active{% endif %}">
                <i class="fa-solid fa-trash-can"></i>
                Trash Can
            </a>
        </nav>

        <div class="storage-box">
            <h3>Storage</h3>
            <p>{{ storage.percent_used }}% full</p>

            <div class="storage-bar">
                <div class="storage-used" data-storage="{{ storage.percent_used }}"></div>
            </div>

            <p>{{ storage.used_gb }} GB of {{ storage.total_gb }} GB used</p>
        </div>
        
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main-content">

        {% if breadcrumbs %}
            <div class="breadcrumbs">
                <a href="/">Home</a>

                {% for crumb in breadcrumbs %}
                    <span>›</span>
                    <a href="/folder/{{ crumb.path }}">{{ crumb.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div class="search-bar-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
                class="search-bar"
                id="searchInput"
                type="text"
                placeholder="Search in Home Server"
            >
        </div>
            
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message-box {{ category }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <section class="dashboard-cards">
            <div class="dashboard-card upload-dashboard-card" id="uploadDropZone">
                
                <h2>+ New</h2>
            
                <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
                    <input type="hidden" name="current_folder" value="{{ current_folder }}">

                    <input type="file" name="files" multiple id="hiddenUploadInput">

                    <div class="visibility-options">
                        <label>
                            <input type="radio" name="visibility" value="private" checked>
                            Private
                        </label>

                        <label>
                            <input type="radio" name="visibility" value="shared">
                            Shared
                        </label>
                    </div>
                </form>

                <p class="upload-main-text">Click anywhere in this box to choose files</p>
                <p class="drag-drop-text">or drag and drop up to 30 files here</p>

            </div>

            <div class="dashboard-card folder-dashboard-card">
                <h2>
                    <i class="fa-regular fa-folder folder-icon"></i>
                    New Folder
                </h2>
                <form action="/create-folder" method="post">
                    <input type="hidden" name="current_folder" value="{{ current_folder }}">
                    <input type="text" name="folder_name" placeholder="New folder name">
                </form>
            </div>

            <div class="dashboard-card user-dashboard-card profile-card-link" id="openProfileModal">
                <div class="profile-picture">
                    <img src="{{ url_for('static', filename='avatars/' + current_avatar) }}">
                </div>
                <h2>{{ current_user }}</h2>
                <p>Current device profile</p>
            </div>
        </section>

        <div class="sort-bar">
            <label for="sortSelect">Sort by:</label>

            <select id="sortSelect">
                <option value="newest">Newest first</option>
                <option value="oldest">Oldest first</option>
                <option value="name-asc">Name (A-Z)</option>
                <option value="name-desc">Name (Z-A)</option>
                <option value="owner">Owner</option>
                <option value="modified">Modified</option>
                <option value="type">Type</option>
                <option value="size">Size</option>
            </select>
        </div>

        <section class="file-list-section">
            <section class="folder-section">
                <h2>containers</h2>
                <div class="folder-card-grid">
                    {% for file in files %}
                        {% if file.is_folder %}
                            <div
                                class="folder-card-wrapper"
                                data-foldername="{{ file.name.lower() }}"
                                data-name="{{ file.name.lower() }}"
                                data-owner="{{ file.owner.lower() }}"
                                data-location="{{ file.location.lower() }}"
                                data-modified="{{ file.modified_time }}"
                                data-folderpath="{{ file.full_path }}"
                            >
                                <a href="/folder/{{ file.full_path }}" class="folder-card">

                                    <div class="folder-card-top">
                                        <i class="fa-regular fa-folder folder-card-icon"></i>
                                    </div>

                                    <div class="folder-card-info">
                                        <span class="folder-card-name">{{ file.name }}</span>
                                        <span class="folder-card-meta">
                                            {% if file.visibility == "shared" %}
                                                Shared
                                            {% else %}
                                                In My Drive · Private
                                            {% endif %}
                                        </span>
                                        <span class="folder-card-count">
                                            {{ file.item_count }} item{% if file.item_count != 1 %}s{% endif %}
                                        </span>
                                        <span class="folder-card-owner">
                                            Owned by {{ file.owner }}
                                        </span>
                                    </div>
                                </a>

                                <div class="folder-card-menu">
                                    <form action="/toggle-visibility/{{ file.full_path }}" method="post" class="folder-share-form">
                                        {% if file.visibility == "shared" %}
                                            <button type="submit" class="folder-share-btn">Shared</button>
                                        {% else %}
                                            <button type="submit" class="folder-share-btn">Personal</button>
                                        {% endif %}
                                    </form>

                                    <button class="dots-btn">⋮</button>

                                    <div class="dropdown-menu">
                                        <a href="#" class="open-rename-modal" data-file="{{ file.full_path }}" data-name="{{ file.name }}">✏ Rename</a>
                                        <a  href="#"
                                            class="open-move-modal"
                                            data-file="{{ file.full_path }}">
                                            📁 Move to directory
                                        </a>
                                        <a href="#"
                                            class="open-folder-info"
                                            data-name="{{ file.name }}"
                                            data-owner="{{ file.owner }}"
                                            data-location="{{ file.location }}"
                                            data-count="{{ file.item_count }}">
                                            ℹ File info
                                        </a>
                                        <a  href="#"
                                            class="delete-link open-delete-modal"
                                            data-file="{{ file.full_path }}"
                                            data-name="{{ file.name }}">
                                            🗑 Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <div class="files-title-row">
                <h2>files</h2>
            </div>
            <form class="selection-toolbar" id="selectionToolbar" method="post">
                <span id="selectedCount">0 selected</span>
                <button type="submit" formaction="/bulk-toggle-visibility">🔒/🌐 Change access</button>
                <button type="submit" formaction="/bulk-copy">📄 Make a copy</button>
                <button type="button" id="bulkDeleteButton">🗑 Move to Bin</button>
                <button type="button" id="downloadButton" disabled>⬇ Download</button>
                <button type="button" id="moveButton" disabled>📁 Move</button>
                <button type="button" id="infoButton" disabled>ℹ File info</button>
                <button type="button" id="renameButton" disabled>✏ Rename</button>
            </form>
            <div class="file-list-header">
                <br>
                <span>Name</span>
                <span>Access</span>
                <span>Owner</span>
                <span>Location</span>
                <span>Actions</span>
            </div>
            <div class="file-list">
                {% for file in files %}
                    {% if not file.is_folder %}
                        <div 
                            class="file-row" 
                            data-name="{{ file.name.lower() }}"
                            data-fullpath="{{ file.full_path }}"
                            data-displayname="{{ file.name }}"
                            data-isimage="{{ file.is_image }}"
                            data-isvideo="{{ file.is_video }}"
                            data-icon="{{ file.file_icon }}"
                            data-owner="{{ file.owner.lower() }}"
                            data-location="{{ file.location.lower() }}"
                            data-modified="{{ file.modified_time }}"
                            data-modifieddate="{{ file.modified_date }}"
                            data-size="{{ file.size }}"
                            data-extension="{{ file.extension }}"
                            draggable="true"
                        >
                            <input
                                type="checkbox"
                                class="file-checkbox"
                                name="selected_files"
                                value="{{ file.full_path }}"
                                form="selectionToolbar"
                            >
                            <div class="file-name-cell">
                                
                                {% if file.is_image %}
                                    <img
                                        src="{{ url_for('view_file', filename=file.full_path) }}"
                                        class="image-thumbnail"
                                    >
                                    <span href="#" class="file-name-text open-side-preview">
                                        {{ file.name }}
                                    </span>
                                {% elif file.is_video %}
                                    <div class="video-thumbnail-wrapper">
                                        <video
                                            src="{{ url_for('view_file', filename=file.full_path) }}"
                                            class="video-thumbnail"
                                            muted
                                            preload="metadata"
                                        ></video>
                                        <span class="play-badge">▶</span>
                                    </div>
                                    <span class="file-name-text open-side-preview">
                                        {{ file.name }}
                                    </span>
                                {% else %}
                                    <span class="file-icon">{{ file.file_icon }}</span>
                                    {% if file.name.lower().endswith('.pdf') %}
                                        <a class="file-name-text" href="/download/{{ file.full_path }}" target="_blank">
                                            {{ file.name }}
                                        </a>
                                    {% else %}
                                        <a class="file-name-text" href="/download/{{ file.full_path }}">
                                            {{ file.name }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="access-cell">
                                {% if file.visibility == "bin" %}
                                    <span class="access-badge bin">🗑 Bin</span>
                                {% else %}
                                    <form action="/toggle-visibility/{{ file.full_path }}" method="post">
                                        {% if file.visibility == "shared" %}
                                            <button type="submit" class="access-badge shared">
                                                🌐 Shared
                                            </button>
                                        {% else %}
                                            <button type="submit" class="access-badge private">
                                                🔒 Private
                                            </button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>

                            <div class="owner-cell">
                                <span class="profile-dot">👤</span>
                                <span>{{ file.owner }}</span>
                            </div>

                            <div class="location-cell">
                                {{ file.location }}
                            </div>

                            <div class="actions-cell">
                                <div class="file-actions-menu">
                                    <button class="dots-btn">⋮</button>
                                    <div class="dropdown-menu">
                                        {% if current_page == "bin" %}
                                            <form action="/restore/{{ file.name }}" method="post">
                                                <button type="submit" class="menu-button">♻ Restore</button>
                                            </form>
                                            <form action="/delete-permanently/{{ file.name }}" method="post">
                                                <button type="submit" class="menu-button delete-link">
                                                    🗑 Delete permanently
                                                </button>
                                            </form>
                                        {% else %}
                                            <a href="/download/{{ file.full_path }}">⬇ Download</a>
                                            <a href="#" class="open-rename-modal" data-file="{{ file.full_path }}" data-name="{{ file.name }}">✏ Rename</a>
                                            <form action="/copy/{{ file.full_path }}" method="post">
                                                <button type="submit" class="menu-button">📄 Make a copy</button>
                                            </form>
                                            <a  href="#"
                                                class="open-move-modal"
                                                data-file="{{ file.full_path }}">
                                                📁 Move to directory
                                            </a>
                                            <a href="#" class="open-side-info">ℹ File info</a>
                                            <a  href="#"
                                                class="delete-link open-delete-modal"
                                                data-file="{{ file.full_path }}"
                                                data-name="{{ file.name }}">🗑 Delete
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>

    <!-- RIGHT SIDEBAR -->
    <aside class="right-sidebar" id="rightSidebar">
        <div class="hive-box">
            <div class="hive-icon">🛶</div>
            <p>The Ship</p>
            <small>The Crane</small>
        </div>
        <div class="side-panel-content" id="sidePanelContent">
            <p>Select a file to preview details here.</p>
        </div>
    </aside>  
</div>

<div class="profile-modal" id="profileModal">
    <input type="hidden" id="openProfileAfterReload" value="{{ open_profile_modal }}">
    <div class="profile-modal-content">
        <button class="close-modal-btn" id="closeProfileModal">✕</button>
        <div class="profile-picture">
            <img src="{{ url_for('static', filename='avatars/' + current_avatar) }}">
        </div>
        <h2>{{ current_user }}</h2>
            {% if is_admin %}
                <h3>Change Nickname</h3>

                <form action="/set-nickname" method="post">
                    <input type="text" name="nickname" value="{{ current_user }}" required>
                    <button type="submit">Save Nickname</button>
                </form>
            {% else %}
                <p>Guest nicknames are automatic and cannot be changed.</p>
            {% endif %}
        <h3>Choose Avatar</h3>
        <form action="/set-avatar" method="post" class="avatar-form">
            {% for avatar in avatars %}
                <button 
                    type="submit"  
                    name="avatar" 
                    value="{{ avatar }}" 
                    class="avatar-choice {% if avatar == current_avatar %}selected-avatar{% endif %}"
                >
                    <img src="{{ url_for('static', filename='avatars/' + avatar) }}">
                </button>
            {% endfor %}
        </form>
        <hr>
        <h3>Theme</h3>
        <form action="/set-theme" method="post" class="theme-form">
            <label>
                <input
                    type="radio"
                    name="theme"
                    value="light"
                    {% if session.get('theme', 'light') == "light" %}checked{% endif %}
                >
                Light mode
            </label>
            <label>
                <input
                    type="radio"
                    name="theme"
                    value="dark"
                    {% if session.get('theme', 'light') == "dark" %}checked{% endif %}
                >
                Dark mode
            </label>
            <button type="submit">Save Theme</button>
        </form>
        <br>
        <a href="/logout" class="delete-link">Logout</a>
    </div>
</div>

<div class="rename-modal" id="renameModal">
    <div class="rename-modal-content">
        <h2>Rename</h2>
        <form id="renameForm" method="post">
            <input type="text" name="new_name" id="renameInput" required>
            <div class="modal-actions">
                <button type="button" id="cancelRenameButton">Cancel</button>
                <button type="submit">Rename</button>
            </div>
        </form>
    </div>
</div>

<div class="delete-modal" id="deleteModal">
    <div class="delete-modal-content">
        <h2>Move to Bin?</h2>
        <p id="deleteModalText"></p>
        <form id="deleteForm" method="post">
            <div class="modal-actions">
                <button type="button" id="cancelDeleteButton">
                    Cancel
                </button>
                <button type="submit" class="delete-confirm-button">
                    Move to Bin
                </button>
            </div>
        </form>
    </div>
</div>

<div class="move-modal" id="moveModal">
    <div class="move-modal-content">
       <h2>Move item(s)</h2>
        <form id="moveForm" action="/bulk-move" method="post">
            <input type="hidden" name="return_to" value="{{ request.path }}">
            <label>Select destination folder:</label>
            <select name="destination">
                <option value="">Home / Root</option>
                {% for folder in folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </select>
            <div class="modal-actions">
                <button type="button" id="cancelMoveButton">Cancel</button>
                <button type="submit">Move</button>
            </div>
        </form>
    </div>
</div>

<div class="upload-overlay" id="uploadOverlay">
    <div class="upload-overlay-content">
        <div class="upload-spinner"></div>
        <p>Uploading files...</p>
    </div>
</div>

<div class="download-overlay" id="downloadOverlay">
    <div class="upload-overlay-content">
        <div class="upload-spinner"></div>
        <p>Preparing download...</p>
    </div>
</div>

<div id="contextMenu" class="context-menu">
    <button id="contextPreview">Preview</button>
    <button id="contextDownload">Download</button>
    <button id="contextRename">Rename</button>
    <button id="contextDelete">Move to Bin</button>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>