<!DOCTYPE html>
<html>
<head>
    <title>Image Preview</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/folders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overlays.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-theme.css') }}">

</head>
<body class="{{ session.get('theme', 'light') }}">

<div class="image-preview-page">

    <div class="preview-top-bar">
        <a href="{{ back_url }}" class="preview-close">← Back</a>

        <span>{{ filename }}</span>

        <a href="/download/{{ file_path }}" class="preview-download">Download</a>
    </div>

    <div class="preview-image-wrapper">
        <img src="/download/{{ file_path }}" class="large-preview-image">
    </div>

</div>

</body>
</html>