<!DOCTYPE html>
<html>
<head>
    <title>Video Preview</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file-list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/folders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overlays.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-theme.css') }}">
    
</head>
<body class="preview-body">

<div class="image-preview-page">

    <div class="preview-top-bar">
        <a href="{{ back_url }}" class="preview-close">← Back</a>

        <span>{{ filename }}</span>

        <a href="/download/{{ file_path }}" class="preview-download">Download</a>
    </div>

    <div class="preview-image-wrapper">
        <video class="large-preview-video" controls autoplay>
            <source src="/download/{{ file_path }}">
            Your browser does not support the video tag.
        </video>
    </div>

</div>

</body>
</html>