.app-layout {
    display: grid;
    grid-template-columns: 230px 1fr 170px;
    min-height: 100vh;
    transition: grid-template-columns 0.2s ease;
}

.app-layout.sidebar-info-open {
    grid-template-columns: 230px 1fr 20vw;
}

.app-layout.sidebar-preview-open {
    grid-template-columns: 230px 1fr 33vw;
}

body {
    background-color: #fff;
    color: #27282c;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    margin: 0;
}

body button {
    border: none;
    /* border-radius: 8px; */
    /* color: white; */
    cursor: pointer;
    /* padding: 9px 14px; */
}

.breadcrumbs {
    color: #5f6368;
    font-size: 14px;
    margin: 0 auto 20px;
    width: 60%;
}

.breadcrumbs a {
    color: #1f6feb;
    text-decoration: none;
}

.breadcrumbs span {
    color: #777;
    margin: 0 8px;
}

.main-content {
    padding: 35px;
}

.main-content h1 {
    margin-bottom: 25px;
    text-align: center;
}

.message-box {
    border-radius: 8px;
    margin: 20px 0;
    padding: 12px 18px;
}

.message-box.error {
    background-color: #fdecea;
    border: 1px solid #f5c6cb;
    color: #b71c1c;
}

.message-box p {
    margin: 0;
}

.message-box.success {
    background-color: #e8f5e9;
    border: 1px solid #c8e6c9;
    color: #a5dd3d;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    box-sizing: border-box;
    height: 35px;
    margin: 0 auto;
    padding: 0 16px;
    width: calc(100% - 300px);
    transition: border-color 0.2s ease;

}

.search-bar-wrapper:hover {
    border-color: #b8b8b8;
}

.search-bar-wrapper i {
    color: #6f6f6f;
    font-size: 14px;
}

.search-bar {
    background-color: transparent;
    border: none;
    color: #111;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.search-bar::placeholder {
    color: #6f6f6f;
}

.search-bar-wrapper i {
    margin-right: 8px;
}