.upload-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 2000;
}

.upload-overlay.active {
    display: flex;
}

.upload-overlay-content {
    background-color: white;
    padding: 28px;
    border-radius: 16px;
    text-align: center;
}

.upload-spinner {
    width: 42px;
    height: 42px;

    border: 4px solid #ddd;
    border-top: 4px solid #1f6feb;

    border-radius: 50%;

    margin: 0 auto 14px;

    animation: spin 1s linear infinite;
}

.download-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 2000;
}

.download-overlay.active {
    display: flex;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}